Pane {
    -fx-background-image: url("images/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

Label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 6, 0.0 , 0 , 2 );
}

.welcomeLabel {
    -fx-font-size: 32px;
    -fx-font-family: "Georgia";
    -fx-fill: #818181;
    -fx-text-fill: white;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.3) , 6, 0.0 , 0 , 2 );
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

TextField, PasswordField {
    -fx-control-inner-background: transparent, white;
    -fx-text-fill: white;
}

Button {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-family: "Lucida Fax";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#3a3c41, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}